
<div class="create-background">
    <h1 class="createHeader">Add a Fighter</h1>
<form action="/create-favorites" method="post">

<div class="nameText">
    <label for="name">Name:</label>
</div>
<div class="nameEnter">
    <input class="box-size" type="text" name="name" id="name">
</div>

<div class="descriptionText">
    <label for="">Description:</label>
</div>
<div class="descriptionEnter">
    <input class="box-size" type="text" name="description" >
</div>

<div class="imageText">
    <label for="">Image:</label>
</div>
<div class="imageEnter">
    <input class="box-size" type="text" name="imageUrl" >
</div>


<div class="addButton">
    <button class="addButtonText" type="submit">Add Fighter</button>
</div>

</form>
</div>
