<h1 class="highlights-header">UFC Highlights</h1>


<div class="highlights-organizer">
    <div class="highlights-background">
    <p class="highlights-title">UFC 280 Highlights</p>
    <div class="highlights-container">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/H4CI4fn_OK0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="highlights-background">
    <p class="highlights-title">UFC 279 Highlights</p>
    <div class="highlights-container">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xOUR_LgeTQ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="highlights-background">
    <p class="highlights-title">UFC 277 Highlights</p>
    <div class="highlights-container">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/sbQdch3IqLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</div>




<div class="highlights-organizer">
    <div class="highlights-background">
    <p class="highlights-title">UFC 280 Highlights</p>
    <div class="highlights-container">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/H4CI4fn_OK0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="highlights-background">
    <p class="highlights-title">UFC 279 Highlights</p>
    <div class="highlights-container">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xOUR_LgeTQ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="highlights-background">
    <p class="highlights-title">UFC 277 Highlights</p>
    <div class="highlights-container">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/sbQdch3IqLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</div>
