<h1 class="highlights-header">UFC Highlights</h1>


<div class="highlights-organizer">
    <div class="highlights-background">
    <p class="highlights-title"> Top Finishes | UFC 280</p>
    <div class="highlights-container">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/H4CI4fn_OK0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="highlights-background">
    <p class="highlights-title">Top Finishes | UFC 279</p>
    <div class="highlights-container">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xOUR_LgeTQ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="highlights-background">
    <p class="highlights-title">Top Finishes | UFC 277</p>
    <div class="highlights-container">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/sbQdch3IqLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</div>





<div class="highlights-organizer">
    <div class="highlights-background">
    <p class="highlights-title">Top Finishes | UFC 276</p>
    <div class="highlights-container">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/He1vqYIFN1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="highlights-background">
    <p class="highlights-title">Top Finishes | UFC 275</p>
    <div class="highlights-container">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tz_fa8k79Jc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="highlights-background">
    <p class="highlights-title">UFC 274: Fight Motion</p>
    <div class="highlights-container">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/OY_b7G8ZJ1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</div>
