<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/highlights.css' />
    <link rel='stylesheet' href='/stylesheets/favorites.css' />
    <link rel='stylesheet' href='/stylesheets/news.css' />
    <link rel='stylesheet' href='/stylesheets/schedule.css' />
  </head>
  <body>
    <nav class="nav-bar">
      <a class="left-side-nav" href="/">Home</a>
      <div class="right-side-nav">
        <a class="login" href="/login">Log In</a>
        <a class="signup" href="/signup">Sign Up</a>
  
    <div class="dropdown">
        <button class="drop-button">Profile</button>
        <div class="dropdown-content">
            <a class="logout" href="/logout">Logout</a>
            <a class="news" href="/news">News</a>
            <a class="highlights" href="/highlights">Highlights</a>
            <a class="schedule" href="/schedule">Schedule</a>
            <a class="navstandings" href="/standings">Standings</a>
            <a class="favorites" href="/list-favorites">Favorites</a>
            <a class="create-favorites" href="/create-favorites">Add Favorite</a>
        </div>
    </div>
      
        
      </div>
    </nav>
    




    {{{body}}}

    <script src="/js/script.js"></script>
  </body>
</html>