<h1 class="news-page-header">UFC NEWS</h1>

<div class="news-page-background">
<hr>

<div class="news-organizer-one">
    <img class="news-image" src="https://cdn.vox-cdn.com/thumbor/URLKDFcdAKwyqdX7FNb-8my9dEo=/0x172:5616x3331/273x154/filters:format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/71672794/1411916526.0.jpg" alt="news picture" />
   <div>
        <h3 class="news-title">Ankalaev Big Favorite To Win Title Against Blachowicz</h3>
        <p class="news-text">UFC 282 odds: Magomed Ankalaev sizable betting favorite to win light heavyweight title against Jan Blachowicz when they collide on Sat., Dec. 10, 2022 at T-Mobile Arena in Las Vegas, Nevada.</p>
        <p class="news-source-text">Source: <a class="news-source-link" href="https://www.mmamania.com/2022/11/25/23477732/ufc-282-odds-magomed-ankalaev-betting-favorite-win-light-heavyweight-title-jan-blachowicz-mma">Here</a></p>
   </div>
</div>

<hr>

<div class="news-organizer-two">
    <div>
        <h3 class="news-title">"Khabib: Alexander Volkanovski is gonna be tougher than Charles Oliveira for Islam Makhachev"</h3>
        <p class="news-text">Islam Makhachev has a tough first title defense ahead of him.</p>
        <p class="news-source-text">Source: <a class="news-source-link" href="https://www.mmamania.com/2022/11/22/23474154/khabib-alexander-volkanovski-is-gonna-be-tougher-than-charles-oliveira-for-islam-makhachev-ufc">Here</a></p>
    </div>
    <img class="news-image" src="https://cdn.vox-cdn.com/thumbor/KkeP76x951AaaPzE2rI3tBu8Abw=/0x0:5448x3065/273x154/filters:format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/71664032/1435671407.0.jpg" alt="news picture" />
</div>

<hr>

<div class="news-organizer-one">
    <img class="news-image" src="https://cdn.vox-cdn.com/thumbor/cLC1j_oCBKMKMhCW2y_WMzvXqns=/0x0:3256x1832/273x154/filters:format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/71671153/1179071573.0.jpg" alt="news picture" />
   <div>
        <h3 class="news-title">Video: Adesanya Tackles Turkey Drumstick Of Death On "Hot Ones"</h3>
        <p class="news-text">For a special Thanksgiving edition of Hot Ones, former middleweight champ Israel Adesanya turned up for a collection of chicken wings and turkey drumsticks slathered in the hottest sauce around.</p>
        <p class="news-source-text">Source: <a class="news-source-link" href="https://www.mmamania.com/2022/11/24/23476948/video-israel-adesanya-tackles-turkey-drumstick-of-death-on-hot-ones">Here</a></p>
   </div>
</div>

<hr>

<div class="news-organizer-two">
    <div>
        <h3 class="news-title">Sean O'Malley thinks Paddy Pimblett's binge eating is a "mental disorder"</h3>
        <p class="news-text">Sean O'Malley believes many fighters go through unhealthy eating habits following weight cuts, and science may back him up.</p>
        <p class="news-source-text">Source: <a class="news-source-link" href="https://www.mmamania.com/2022/11/25/23477854/sean-omalley-thinks-paddy-pimbletts-binge-eating-is-a-mental-disorder">Here</a></p>
    </div>
    <img class="news-image" src="https://cdn.vox-cdn.com/thumbor/XQe9J6PPD54hmqtbaj-siQqVJPc=/0x0:4368x2457/273x154/filters:format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/71673203/1239709031.0.jpg" alt="news picture" />
</div>

<hr>
</div>