.highlights-header {
    color: white;
    /* background-color: rgb(150, 0, 0); */
    background-color: black;
    border: 2px solid rgb(150, 0, 0);
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    font-size: 40px;
    /* box-shadow: 6px 4px black; */
}

.highlights-container {
    width: 500px;
    height: 281px;
    margin: auto;
    margin-bottom: 40px;
    border: 2px solid rgb(150, 0, 0);
}

.highlights-title {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.highlights-background {
    /* background-color: rgb(150, 0, 0); */
    background-color: black;
    border: 2px solid rgb(150, 0, 0);
    border-radius: 5px;
    width: 585px;
    margin: auto;
    /* box-shadow: 6px 4px black; */
    margin-bottom: 40px;
}

.highlights-organizer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}