.eventOrganizer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event-background {
    /* background-color: rgb(150, 0, 0); */
    background-color: black;
    border: 2px solid rgb(150, 0, 0);
    border-radius: 5px;
    width: 585px;
    margin: auto;
    /* box-shadow: 6px 4px black; */
    margin-top: 40px;
}

.eventTitle {
    color: white;
    text-align: center;
    text-decoration: underline;
    margin: auto;
    width: 550px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 40px;
}

.fight-header {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.fighter-organizer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fighter-odds-organizer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fighter-name {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.betting-odds {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.hr-line {
    width: 70%;
    margin: auto;
}

.hr-fight-splitter {
    margin: auto;
    border: 2px solid rgb(150, 0, 0);
    width: 90%;
    margin-bottom: 10px;
}
