* {
  margin: 0;
  padding: 0;
}




body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(199, 199, 199);
}

a {
  color: #00B7FF;
}

body {
  background-color: rgb(199, 199, 199);
  background-image: url(../images/ufc\ background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 2700px;
  background-attachment: fixed;
  margin: auto;
}

.ufcimage {
  background-image: url("../images/UFC-Logo.png");
  padding: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 700px;
  margin: auto;
  padding-top: 500px;
}

.homepage {
  text-align: center;
  text-decoration: underline;
}

.signup-login-background {
  /* background-color: rgb(150, 0, 0); */
  background-color: black;
  margin: auto;
  border: 2px solid rgb(150, 0, 0);
  /* box-shadow: 6px 4px black; */
  border-radius: 10px;
  width: 700px;
  margin-top: 160px;
}

.loginHeader {
  text-align: center;
  font-size: 60px;
  padding-top: 20px;
  color: white;
  text-decoration: underline;
}

.emailText {
  text-align: center;
  padding: 5px;
  padding-top: 20px;
  font-size: 40px;
  color: white;
}

.emailEnter {
  display: flex;
  justify-content: center;
}

.passwordText {
  text-align: center;
  padding: 5px;
  font-size: 40px;
  padding-top: 30px;
  color: white;
}

.passwordEnter {
  display: flex;
  justify-content: center;
}

.box-size {
  width: 500px;
  height: 30px;
}

.loginButton {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.buttonText {
  font-size: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  box-shadow: 6px 4px rgb(150, 0, 0);
}

.nav-bar {
  background-color: black;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 6px 4px black; */
  border: 2px solid rgb(150, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-side-nav {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  font-size: 30px;
}

.left-side-nav {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  text-decoration: none;
  color: white;
  padding: 10px;
  padding-left: 70px;
}

.login {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.signup {
  text-decoration: none;
  padding: 10px;
  color: white;
  padding-left: 20px;
}

.logout {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.news {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.schedule {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.highlights {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.favorites {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.create-favorites {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.navstandings {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.header {
  color: white;
  /* background-color: rgb(150, 0, 0); */
  background-color: black;
  border: 2px solid rgb(150, 0, 0);
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 600px;
  border-radius: 5px;
  font-size: 40px;
  /* box-shadow: 6px 4px black; */
}

.weightClass {
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  margin: auto;
  font-size: 40px;
}

.rank {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}

.name {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}

.rankName {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.spacing {
  padding-left: 10px;
}

.profileLink {
  background-color: white;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 6px 4px rgb(150, 0, 0);
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.standings {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(150, 0, 0); */
  background-color: black;
  border: 2px solid rgb(150, 0, 0);
  border-radius: 5px;
  width: 600px;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  /* box-shadow: 6px 4px black; */
  margin-top: 40px;
}

.standings-organizer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hr-standings-splitter {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.video-container{
  width: 100%;
  height: 100%;
}
    
.homeiframe {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  margin: auto;
}

@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}
    
@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-button {
  /* background-color: rgb(150, 0, 0); */
  background-color: black;
  font-size: 30px;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  padding-right: 70px;
  padding-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: rgb(150, 0, 0); */
  background-color: black;
  min-width: 160px;
  z-index: 1;
  right: 0;
  text-align: center;
  margin-right: -10px;
  padding-top:10px;
}

.dropdown-content a {
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  display: block;
  width: 200px;
  /* border-top: 1px solid #c9d4d8; */
}

.dropdown-content a:hover {
  /* background-color: grey; */
  background-color: rgb(150, 0, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drop-button {
  /* background-color: rgb(150, 0, 0); */
  background-color: black;
}